*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

img{
  width:15%;
  padding: 10px;
  transition: transform linear .2s;
}

body{
  height:100vh;
  background-image:url('../resources/background.jpg');
  background-size: cover;
}


header{
  width:100%;
  margin:20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:100px;
}

#headercontainer{
  width:50%;
  height:150px;
  margin: auto;
}
section{
  width:75%;
  margin: auto;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}
section img{
  width:5%;
}


img:hover{
  transform:scale(1.3);
  cursor:pointer;
}


@media screen and (max-width:1240px){
  section img{
    width:10%;
  }
}
