*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

img{
  width:15%;
  margin: 5px;
}

body{
  height:100vh;
  background-image:url('../resources/background.jpg');
  background-size: cover;
}


header{
  width:50%;
  margin:100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:100px;
}

section{
  width:75%;
  margin: auto;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
section img{
  width:5%;
}
