@font-face {
  font-family:'fan';
  src: url('../resources/fonts/jf.ttf');
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'fan',sans-serif;
}


#title{
  font-size: 80px;
  width:80%;
  margin:25px auto;
  color:yellow;
  text-align: center;
}

img{
  width:15%;
  padding: 10px;
  transition: transform linear .2s;
}

body{
  background-image:url('../resources/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow:hidden;
}

main{
  width: 70%;
  margin: 0 auto;
}

button{
  margin:10px 25%;
  width:50%;
  height:50px;
  background-image: url('../resources/junglebtn.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  right:0;
  border:2px lightgreen solid;
  border-radius: 30px;
  font-size: 40px;
  color:black;
  transition: transform linear .2s
}

.banner{
  width:100px;
  height: 70px;
  text-align: center;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background-image: url('../resources/banner.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity:0;
}

button:hover{
  cursor:pointer;
  transform:scale(1.2);
}

.banner h3{
  text-align: center;
  font-size: 40px;
}

.banner button{
  width:50%;
  height:10%;
}

h2{
  text-align: center;
  font-size: 80px;
}

.disabled{
  filter:brightness(25%);
}

button span{
  position: absolute;
  bottom:5px;
  left:50%;
  font-size: 9px;
  font-weight: bolder;
  transform: translateX(-50%);
  font-family: sans-serif;
}

header{
  width:100%;
  margin:20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:100px;
}

#headercontainer{
  width:50%;
  height:150px;
  margin: auto;
}
section{
  width:75%;
  margin: auto;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
section img{
  width:5%;
}


img:hover{
  transform:scale(1.6);
  cursor:pointer;
}

footer{
  position:absolute;
  bottom:0;
  right:0;
  height: 70px;
  background-color: rgba(130,238,80,.5);
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div {
  display: flex;
  align-items:center;
}

footer div h2{
  font-size: 35px;
  text-align: left;
}

footer div img{
  width:60px;
  height:60px;
}

#points img{
  margin-bottom:20px;
}

@media screen and (max-width:1240px){
  section img{
    width:10%;
  }
  body{
    background-image: url('../resources/bg.jpg');
  }
}
